header{
    width: 100%;
    background-image: url('./pattern.jpeg');

}
h1{
    display: block;
    color:yellowgreen;
    font-size: 100px;
    text-align: center;

}
.heading{
    margin-top: 30px;
    color: blue;
    display: inline-block;
    background-color: aquamarine;
    width: 100%;

}
img{
    margin: 10px;
}
.pricing{
    color: blue;
}
.frames .heading{
    background-color: burlywood;
    color: chartreuse;

}

.paint .heading{
    background-color: cornsilk;
    color:darkcyan;
}
.description{
    font-family: Arial, Helvetica, sans-serif;
}